In [70]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
load_dotenv()

from script.database_pipeline import Pipeline

### Setting up DB

In [8]:
username = os.getenv('PSQL_USER')
password = os.getenv('PASS')
host = os.getenv('HOST')
port = os.getenv('PORT')

db_url = (f"postgresql+psycopg2://{username}:{password}@{host}:{port}/data_prof")

In [9]:
engine = create_engine(db_url)

In [11]:
df = pd.read_excel('ds_2019.xlsx', header=3)

In [12]:
pipe = Pipeline(engine)
pipe.add_table(df, 'original')

### EDA

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6893 entries, 0 to 6892
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Survey Year                           6893 non-null   int64
 1   Timestamp                             6893 non-null   datetime64[ns]
 2   SalaryUSD                             6893 non-null   object
 3   Country                               6893 non-null   object
 4   PostalCode                            5934 non-null   object
 5   PrimaryDatabase                       6893 non-null   object
 6   YearsWithThisDatabase                 6893 non-null   int64
 7   OtherDatabases                        5520 non-null   object
 8   EmploymentStatus                      6893 non-null   object
 9   JobTitle                              6893 non-null   object
 10  ManageStaff                           6893 non-null   object
 11  YearsWithThisTypeOfJob                6893 non-null   int64
 12  HowManyCompanies                      6893 non-null   object
 13  OtherPeopleOnYourTeam                 6893 non-null   object
 14  CompanyEmployeesOverall               6893 non-null   object
 15  DatabaseServers                       6893 non-null   int64
 16  Education                             6893 non-null   object
 17  EducationIsComputerRelated            5677 non-null   object
 18  Certifications                        6893 non-null   object
 19  HoursWorkedPerWeek                    6893 non-null   int64
 20  TelecommuteDaysPerWeek                6893 non-null   object
 21  PopulationOfLargestCityWithin20Miles  6893 non-null   object
 22  EmploymentSector                      6893 non-null   object
 23  LookingForAnotherJob                  6893 non-null   object
 24  CareerPlansThisYear                   6893 non-null   object
 25  Gender                                6893 non-null   object
 26  OtherJobDuties                        6273 non-null   object
 27  KindsOfTasksPerformed                 6686 non-null   object
 28  Counter                               6893 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(22)
memory usage: 1.5+ MB

In [32]:
df.isna().sum()

Survey Year                                0
Timestamp                                  0
SalaryUSD                                  0
Country                                    0
PostalCode                               959
PrimaryDatabase                            0
YearsWithThisDatabase                      0
OtherDatabases                          1373
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                    0
DatabaseServers                            0
Education                                  0
EducationIsComputerRelated              1216
Certifications                             0
HoursWorkedPerWeek                         0
TelecommuteDaysPerWeek                     0
PopulationOfLargestCityWithin20Miles       0
EmploymentSector                           0
LookingForAnotherJob                       0
CareerPlansThisYear                        0
Gender                                     0
OtherJobDuties                           620
KindsOfTasksPerformed                    207
Counter                                    0
dtype: int64

In [17]:
df['YearsWithThisDatabase']

0       10
1       15
2        5
3        6
4       10
        ..
6888     3
6889     3
6890    10
6891    20
6892    19
Name: YearsWithThisDatabase, Length: 6893, dtype: int64

In [68]:
df['SalaryUSD'].groupby(pd.cut(df['SalaryUSD'], [(0, 50000), (50000, 75000), (75000, 100000), (100000, 125000)]))

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [47]:
df.isna().sum()

Survey Year                                0
Timestamp                                  0
SalaryUSD                                  0
Country                                    0
PostalCode                               959
PrimaryDatabase                            0
YearsWithThisDatabase                      0
OtherDatabases                          1373
EmploymentStatus                           0
JobTitle                                   0
ManageStaff                                0
YearsWithThisTypeOfJob                     0
HowManyCompanies                           0
OtherPeopleOnYourTeam                      0
CompanyEmployeesOverall                    0
DatabaseServers                            0
Education                                  0
EducationIsComputerRelated              1216
Certifications                             0
HoursWorkedPerWeek                         0
TelecommuteDaysPerWeek                     0
PopulationOfLargestCityWithin20Miles       0
EmploymentSector                           0
LookingForAnotherJob                       0
CareerPlansThisYear                        0
Gender                                     0
OtherJobDuties                           620
KindsOfTasksPerformed                    207
Counter                                    0
dtype: int64

In [86]:
df['Gender'].value_counts()

Male                                                                          3530
Not Asked                                                                     2898
Female                                                                         395
Prefer not to say                                                               42
Non-binary/third gender                                                          8
Attack Helicopter                                                                2
Vulcan                                                                           1
Pastafarian                                                                      1
Apache Helicopter                                                                1
Reptilian                                                                        1
Any human one                                                                    1
Attack Helicopter. (serious dude, gender questions?)                             1
toad frog                                                                        1
confused                                                                         1
Grayson Perry                                                                    1
Attackhelicopter with rabbitears and afro-icelandic teeth                        1
Attack Helicopter (M)                                                            1
Cyborg                                                                           1
Meat Popsicle                                                                    1
There are only two genders for people, either male or female. I am a male.       1
Muppet                                                                           1
Dragon                                                                           1
This question is inappropriate.                                                  1
Alien                                                                            1
Name: Gender, dtype: int64

In [50]:
df['Country'].value_counts()

United States     4509
United Kingdom     667
Canada             244
Australia          185
India              112
                  ...
Bermuda              1
Uruguay              1
Kenya                1
Taiwan               1
Vietnam              1
Name: Country, Length: 85, dtype: int64

In [85]:
df['PopulationOfLargestCityWithin20Miles'].value_counts()

Not Asked               6011
1M+ (metropolis)         330
300K-1M (large city)     283
100K-299K (city)         164
20K-99K (large town)      84
<= 20,000 (town)          21
Name: PopulationOfLargestCityWithin20Miles, dtype: int64